{% load static %}
{% load account %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'logo.jpeg' %}" alt="Logo">
        <h1>Activity Registration</h1>
    </div>

    <div class="content">
        <form enctype="multipart/form-data" action="/home" method="post">
            {% csrf_token %}
            <div>
                <label for="Name">Name</label>
                {{form.activity_name}}
                
            </div>
            <div>
                <label for="FromDate">From</label>
                
                {{form.start_date}}
            </div>
            <div>
                <label for="ToDate">To</label>
                {{form.end_date}}
              
            </div>
         
            <div>
                <label for="Certificate">Please Upload the Certificate</label>
                {{form.file}}
                
            </div>
            <button type="submit">Submit</button>
        </form>

        <form action="/accounts/logout">
            <input value="Sign Out" type="submit">
        </form>
    </div>
    
</body>
</html>
